# Copyright (c) 2016, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License, version 2.0,
# as published by the Free Software Foundation.
#
# This program is also distributed with certain software (including
# but not limited to OpenSSL) that is licensed under separate terms,
# as designated in a particular file or component or in included license
# documentation.  The authors of MySQL hereby grant you an additional
# permission to link the program and your derivative works with the
# separately licensed software that they have included with MySQL.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License, version 2.0, for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

# https://dev.mysql.com/doc/refman/5.7/en/mysql-command-options.html


[mysql]
port=3306
#socket=/tmp/mysql.sock
auto_rehash
connect_timeout=2
#auto_vertical_output
#column_names 
#column_type_info
compress
line_numbers #on errors
ignore_spaces # build-in reserved words
init_command=SET NAMES utf8mb4

#protocol=TCP
#quick # -q no cache or history
reconnect
skip_reconnect # avoid error between queries (tem tables, etc...)
show_warnings
#histignore="*SHOW*:*SET*"
#unbuffered

max_allowed_packet=16M #client-server 
syslog # -j
table #default, can be add for batch mode
# tee=output_filename
tls_version=TLSv1.2 
#wait
#vertical
pager=more

# SSL
# https://dev.mysql.com/doc/refman/5.7/en/connection-options.html#encrypted-connection-options
ssl_ca=/var/lib/mysql/ca.pem
ssl_cert=/var/lib/mysql/client-cert.pem
ssl_key=/var/lib/mysql/client-key.pem

######output
# raw # -r not escaping special chars
# batch # -b use tab output format and escaping of special characters
# silent # -s less output
#html
#xml
# CAREFUL UPDATE AND INSERT with no key, AND SELECT with lots results
# select_limit=value
skip_safe_updates
# one_database => ignore 'database'.'table' statements
[mysqld-5.7]
sql_mode=TRADITIONAL

